@model TrashCollection.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
   <div>Weclome, @Model.FirstName, to the customer portal</div>
</p>
<p>
    Your scheduled pickup day is @Model.Weekday.day  |
    <a asp-action="EditDay" asp-route-id="@Model.Id">Change weekly pickup.</a> 
</p>

                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
  
