@model TrashCollection.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<iframe src="https://maps.google.com/maps?q=@Model.Address.Coordinate&z=15&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Pickup day:
        </dt>
        <dd class="col-sm-10">
            @Model.Weekday.day
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Address):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.AddressLineOne)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.AddressLineTwo)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to employee portal</a>

</div>
