@model TrashCollection.Models.Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<label>Irregular Pickups</label>
<table class="table">
    <thead>
        <tr>
            <th>
                Pickup address line one
            </th>
            <th>
                Pickup address line two
            </th>
            <th>
                Pickup confirmend?
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.IrregularPickups)
        {
            <tr>
                <td>
                    @item.Address.AddressLineOne
                </td>
                <td>
                    @item.Address.AddressLineTwo
                </td>
                <td>
                    @item.Confirmed
                </td>
                <td>
                    <a asp-action="Confirm" asp-route-id="@item.Id">Confirm Pickup</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<label>Regular Pickups</label>
<table class="table">
    <thead>
        <tr>
            <th>
                Pickup address line one
            </th>
            <th>
                Pickup address line two
            </th>
            <th>
                Pickup confirmend?
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.RegularCustomers)
        {
            <tr>
                <td>
                    @item.Address.AddressLineOne
                </td>
                <td>
                    @item.Address.AddressLineTwo
                </td>
                <td>
                    false
                </td>
                <td>
                    <a asp-action="ConfirmRegular" asp-route-id="@item.Id">Confirm Pickup</a>
                </td>
            </tr>
        }
    </tbody>
</table>
